<h1>山に行くときの水の量</h1>

<ul>
  <li>
    <p>登山に行く際に必要な水の量を計算するアプリです！</p>
    <p>体重と活動時間を入力すると、必要な水の量を計算します</p>
  </li>
    <div class="button-container">
      <%= link_to "計算する", new_calculate_path, class: "form-button" %>
    </div>
</ul>