<h1>計算結果を表示します</h1>

<ul>
  <li>
    <h2>登山に行く際に必要な水の量 <%= @calculate_water_amount %>mlです</h2>
  </li>
</ul>

<div class="button-container">
  <%= link_to "戻る", calculates_path, class: "form-button" %>
</div>